http://localhost:1560

reverse_proxy /api* http://localhost:1561
reverse_proxy /ws* http://localhost:1561
reverse_proxy /docs* http://localhost:1561
reverse_proxy /openapi.json http://localhost:1561

reverse_proxy * http://localhost:1562